@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
}

a,h1,h2,p,h3,div,li{
  -webkit-tap-highlight-color: transparent;
  color: #333;
  text-decoration: none;
}
 